.backgroundImage {
  background-image: url('../Images/couple.png');
  height: 844px;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  text-align: center;
  cursor: pointer;
  width: 100px;
  width: 150px;
  transform: translateY(540px);
}

.signInOptions {
  padding: 5px;
  text-align: center;
  border: 2px solid #FBE5E3;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  align-self: center;
  color: black;
  transform: translateY(540px);
  margin-top:10px;
}

.signInOptions:hover {
  background-color: #FBE5E3;
  border-radius: 12px;
  color: black;
}

.logIn {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(540px);
  margin-top:10px;
}

.logIn:hover {
  color: #FBE5E3;
}
